.fifth {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  flex-flow: row wrap;
  padding-top: 12vw;
  padding-left: 6vw;
  justify-content: space-around;
  background-color: $background__main;
  @include large {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    padding-top: 12vw;
  }
}

.fifth__content{
  position: relative;
  display: flex;
  flex-flow: column wrap;
  padding-right: 9vw;
  @include large {
    padding-right: 0;
    align-content: center;
    justify-content: center;
    width: 45vw;
  }
}

.fifth__title {
  position: relative;
  color: $color__main;
  font-family: 'Maison Neue', sans-serif;
  font-weight: 600;
  font-size: $fs_generalTitle;
  line-height: $fs_generalTitle*1.2;
  margin-bottom: 4vw;
  @include large {
    font-size: $fs_generalTitle--large;
    line-height: $fs_generalTitle--large*1.2;
    padding-right: 16vw;
    margin-bottom: 1vw;
  }
}

.fifth__title:before {
  content: '';
  position: absolute;
  left: 0;
  right: 65%;
  top: -8vw;
  background: $line__color;
  height: 2vw;
  border-radius: 2vw;
  @include large {
    right: 91%;
    height: 0.3vw;
    top: -1vw;
    left: 0;
  }
}

.fifth__image {
  position: relative;
  width: 100%;
  padding-right: 6vw;
  margin-top: 10vw;
  @include large {
    width: 60vw;
    align-self: flex-start;
    padding-right: 0;
    margin-top: -3.1vw;
    margin-bottom: 8vw;
  }
}
