.first {
  position: relative;
  display: inline-flex;
  flex-flow: row wrap;
  padding-left: 6vw;
  justify-content: space-around;
  background-color: $background__main;
  @include large {
    padding: 0 0 0 8vw;
  }
}

.first__content{
  position: relative;
  display: flex;
  flex-flow: column wrap;
  padding-right: 6vw;
  @include large {
    padding-right: 0;
    width: 45vw;
  }
}

.first__title {
  position: relative;
  color: $color__main;
  font-family: 'Maison Neue', sans-serif;
  font-weight: 600;
  font-size: $fs_generalTitle;
  line-height: $fs_generalTitle*1.2;
  margin-bottom: 4vw;
  @include large {
    font-size: $fs_generalTitle--large;
    line-height: $fs_generalTitle--large*1.2;
    padding-right: 19vw;
    margin-bottom: 1vw;
  }
}

.first__title:before {
  content: '';
  position: absolute;
  left: 0;
  right: 65%;
  top: -8vw;
  background: $line__color;
  height: 2vw;
  border-radius: 2vw;
  @include large {
    right: 91%;
    height: 0.3vw;
    top: -1vw;
    left: 0;
  }
}

.first__text {
  color: $color__main;
  font-family: 'Maison Neue', sans-serif;
  font-weight: 400;
  font-size: $fs_firstText;
  line-height: $fs_firstText*1.5;
  @include large {
    padding-right: 14vw;
    font-size: $fs_firstText--large;
    line-height: $fs_firstText--large*1.5;
  }
}

.first__image{
  width: 100%;
  padding-right: 3vw;
  margin-top: 10vw;
  @include large {
    width: 45vw;
    align-self: flex-start;
    padding-left: 0;
    margin-top: -3.1vw;
    margin-bottom: 8vw;
  }
}
