.intro_section {
  display: flex;
}

.intro__content {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $background__main;
}

.intro_header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.intro__headerTitle {
  z-index: 9;
  color: $color__fontTitle2;
  font-family: 'Maison Neue', sans-serif;
  font-weight: 600;
  position: absolute;
  left: 50%;
  top: 18vw;
  transform: translate(-50%, -50%);
  font-size: $fs_introTitle2;
  @include large {
    top: 12vw;
		font-size: $fs_introTitle2--large;
	}
  white-space:pre;
}

.intro__contentTitle {
  color: $color__fontTitle2;
  font-family: 'Maison Neue', sans-serif;
  font-weight: 600;
  position: absolute;
  left: 50%;
  top: calc(50% + 4vw);
  text-align: center;
  transform: translate(-50%, -50%);
  font-size: $fs_introTitle;
  @include large {
		font-size: $fs_introTitle--large;
	}
  opacity: 0.1;
  white-space:pre;
}

.intro__contentVideo {
  width: 70vw;
  @include large {
		width: 45vw;
	}
  height: auto;
  z-index: 10;
  margin: 0 auto;
  background-position: center center;
  background-size: contain;
}

.intro__contentImage {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 80vw;
  @include large {
		width: 55vw;
	}
  height: auto;
  z-index: 9;
  margin: 0 auto;
}
