.intro {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 25vw;
  background-color: $background__main;
}
/* INTRO HEADER */
.intro__header {
  position: reative;
}

.intro__headerTitle {
  z-index: 9;
  color: $color__fontTitle2;
  font-family: 'Maison Neue', sans-serif;
  font-weight: 600;
  font-size: $fs_introTitle2;
  @include large {
    font-size: $fs_introTitle2--large;
  }
  position: absolute;
  left: 12.5vw;
  top: 10vw;
  text-align: center;
  white-space: pre;
}

/* INTRO CONTENT */
.intro__content {
  position: relative;
  display: flex;
  flex-direction: row wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  background-color: $background__main;
}

.intro__contentTitle {
  color: $color__fontTitle2;
  font-family: 'Maison Neue', sans-serif;
  font-weight: 600;
  position: absolute;
  left: 50%;
  top: calc(50% + 4vw);
  text-align: center;
  transform: translate(-50%, -50%);
  font-size: $fs_introTitle;
  @include large {
    font-size: $fs_introTitle--large;
  }
  opacity: 0.1;
  white-space: pre;
}

.intro__contentVideo {
  z-index: 10;
  width: 70vw;
  height: auto;
  @include large {
    width: 45vw;
  }
  background-position: center center;
  background-size: contain;
}

.intro__contentImage {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 80vw;
  @include large {
    width: 55vw;
  }
  height: auto;
  z-index: 9;
  margin: 0 auto;
}

.intro__contentPoster {
  z-index: 11;
  position: absolute;
  display: none;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 70vw;
  height: auto;
  @include large {
    width: 45vw;
  }
  margin: 0 auto;
}

/* INTRO FOOTER */
.intro__footer {
  z-index: 11;
  position: relative;
  top: -3vw;
  margin-bottom: 45vw;
  @include large{
    margin-bottom: -10vw;
    font-size: $fs_introText--large;
  }
  font-family: 'Maison Neue', sans-serif;
  font-weight: 600;
  font-size: $fs_introText+1vw;
  color: $color__fontTitle2;
}

.intro__footerCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.intro__footerCenterTextBlack {
  margin-right : 5vw;
  @include large {
    margin-right: 7vw;
  }
  display: inline-block;
}

.intro__footerCenterTextBlack > div:nth-of-type(1) {
  position: relative;
}

.intro__footerCenterTextBlack > div:nth-of-type(1):before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: -5vw;
  background: $line__color;
  width: 1vw;
  border-radius: 4vw;
  @include large {
    width: 0.3vw;
    left: -2vw;
  }
}

.intro__footerCenterTextWhite {
  display: inline-block;
  color: $color__main;
  opacity: 0.5;
}

.intro__footerRightText {
  position: absolute;
  top: 20vw;
  right: 5vw;
  opacity: 0.5;
  @include large {
    position: absolute;
    right: 10.5vw;
    top: calc(50% - 3vw);
    transform: translate(-50%, -50%);
  }
}
