.second {
  z-index: -1;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-left: 6vw;
  padding-top: 64vw;
  margin-top: -48vw;
  background-color: $background__second;
  color: $color__main;
  @include large {
    z-index:auto;
    margin: 0 auto;
    padding: 24vw 0 0 0;
  }
}

.second__content {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  background: url(/img/second__textBackground.svg) no-repeat;
  background-size: contain;
  margin:0 -5vw 30vw -10vw;
  padding: 25vw 0 10vw 0;
  @include large {
    margin: -8vw auto 0 auto;
    padding: 10vw 6vw 0 7vw;
    background: url(/img/second__textBackground--large.svg) no-repeat center top;
    background-size: contain;
    order: 2;
    width: 40vw;
  }
}

.second__content:before {
  content: '';
  position: absolute;
  left: 1.5vw;
  top: -3.1vw;
  padding: 36vh 0;
  background: url(/img/second__textBackgroundShape.svg) no-repeat center top;
  background-size: cover;
  width: 100%;
  height: auto;
  @include large {
    left: 0;
    top: 4vw;
    margin: -4vw auto 0 auto;
    padding: 4vw 0 26vw 0;
    background: url(/img/second__textBackgroundShape--large.svg) no-repeat center top;
    background-size: cover;
  }
}

.second__title {
  position: relative;
  font-family: 'Maison Neue', sans-serif;
  font-weight: 600;
  font-size: $fs_generalTitle;
  line-height: $fs_generalTitle*1.2;
  margin-bottom: 5vw;
  padding: 0 15vw;
  @include large {
    font-size: $fs_generalTitle--large;
    line-height: $fs_generalTitle--large*1.2;
    padding: 0;
    padding-right: 5vw;
    margin-bottom: 1vw;
  }
}

.second__title:before {
  content: '';
  position: absolute;
  left: 16vw;
  right: 58%;
  top: -8vw;
  background-color: $color__main;
  height: 2vw;
  border-radius: 2vw;
  @include large {
    right: 78%;
    height: 0.3vw;
    top: -1vw;
    left: 0;
  }
}

.second__text {
  z-index: 10;
  font-family: 'Maison Neue', sans-serif;
  font-weight: 400;
  font-size: $fs_generalText;
  line-height: $fs_generalText*1.5;
  padding: 0 15vw;
  padding-bottom: 5vw;
  @include large {
    padding: 0;
    font-size: $fs_generalText--large;
    line-height: $fs_generalText--large*1.5;
  }
}

.second__image {
  width: 175vw;
  margin-top: -36vw;
  margin-left: -6vw;
  padding-right: 6vw;
  @include large {
    width: 55vw;
    height: auto;
    padding: 0;
    margin: 0;
    margin-top: -12vw;
    margin-left: -6vw;
    padding-bottom: 12vw;
  }
}
