.sixth {
  z-index: 100;
  position: relative;
  padding-top: 12vw;
  background-color: $background__main;
  @include large {
    padding: 0;
  }
}

.sixth__leicaPreview {
  position: relative;
    display:none;
    @include large {
      display: block;
    }
}

.sixth__leica {
  display:none;
  @include large {
    z-index: 6;
    display: block;
    position: absolute;
    width: 100vw;
    top: -50vw;
    left: 130vw;
    transition: left 1s;
  }
}

.sixth__leica.down {
  display:none;
  @include large {
    display: block;
    position: absolute;
    width: 100vw;
    top: -50vw;
    left: 65vw;
  }
}

.sixth__slider {
  width: 80%;
  overflow: hidden;
}

.sixth__image {
  width: 100%;
  height: auto;
  @include large{
    margin-top: -18vw;
  }
}

.sixth__controls {
  position: relative;
}

.sixth__thumbnails {
  position: absolute;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  @include large{
    flex-flow: row wrap;
    align-items: flex-start;
  }
  bottom: 0;
}

.sixth__thumbnail {
  width: 20vw;
  height: auto;
  border: 8px solid $color__second;
  @include large {
    width: 14.9vw;
    height: auto;
    border: 1vw solid $color__second;
  }
}
