section(class="first")
  div(class="first__content")
    div(class="first__title") Le meilleur appareil photo de tous les temps
    p(class="first__text") Depuis toujours, Leica incarne la passion pour la qualité, la fabrication artisanale et la fidélité à une véritable philosophie de la photographie. Plus de 60 ans d’expertise en matière de visée télémétrique, 11 années de développement d’appareils M numériques et un inestimable retour d’expérience de la part de photographes travaillant au M ont inspiré les ingénieurs de Leica pour la création du Leica M numérique le plus fin de tous les temps : le Leica M10.
  div(class="first__imageDiv")
    img(src="img/first__leicaM10.png" class="first__image")
  svg(viewbox="0 0 100 25")
    path(fill="#9EAFFD" opacity="0.5" d="M0 30 V15 Q30 3 60 15 V30z")
    path(fill="#9EAFFD" d="M0 30 V12 Q30 17 55 12 T100 11 V30z")
