section(class="fourth")
  div(class="fourth__content")
    div(class="fourth__title") Des fonctionnalités incroyables
    p(class="fourth__text") Le M est désormais synonyme de subtilité et d’une forme de respect et de responsabilité envers une tradition de conception qui a maintenant plus de 60 ans d’existence.
  div(class="fourth__imageDiv")
    img(src="img/fourth__leicaM10.png" class="fourth__image")
