section(class="second__section")
  div(class="second__content")
    div(class="second__title") Une évolution
    p(class="second__text") Le M est désormais synonyme de subtilité et d’une forme de respect et de responsabilité envers une tradition de conception qui a maintenant plus de 60 ans d’existence. Pourtant, le concept M offre toujours du potentiel pour une évolution et évite ainsi la nécessité d’une révolution.
  div(class="second__imageDiv")
    img(src="img/second__leicaM10.png" class="second__image")
