section(class="seventh")
  div(class="seventh__content")
    div(class="seventh__title") Quelques accesoires indispensables
  div(class="seventh__slider")
    div(class="seventh__slide")
      img(class="seventh__image" src="img/seventh__slider/seventh__image01.png")
      h1(class="seventh__slideTitle") Visoflex
      p(class="seventh__slideText") Davantage d'opportunités de créativité
    div(class="seventh__slide")
      img(class="seventh__image" src="img/seventh__slider/seventh__image02.png")
      h1(class="seventh__slideTitle") Courroies de port et de poignet
      p(class="seventh__slideText") Une portabilité incontournable
    div(class="seventh__slide")
      img(class="seventh__image" src="img/seventh__slider/seventh__image03.png")
      h1(class="seventh__slideTitle") Étui protecteur
      p(class="seventh__slideText") Une protection extrêmement pratique
