section(class="seventh")
  div(class="seventh__content")
    div(class="seventh__title") Quelques accesoires indispensables
  div(class="seventh__imageDiv")
    img(src="img/seventh__leicaM10.png" class="seventh__image")
