section(class="third")
  div(class="third__content")
    p(class="third__contentTitle") Made in Germany
    img(src="img/third__leicaM10.png" class="third__contentImage")
    div(class="third__contentImageParts")
      img(src="img/third__parts/third__01.png")
      img(src="img/third__parts/third__02.png")
      img(src="img/third__parts/third__03.png")
      img(src="img/third__parts/third__04.png")
      img(src="img/third__parts/third__05.png")
      img(src="img/third__parts/third__06.png")
