include ./partials/header.pug

include ./modules/intro.pug
include ./modules/first.pug
include ./modules/second.pug
include ./modules/third.pug
include ./modules/fourth.pug
include ./modules/fifth.pug
include ./modules/sixth.pug
include ./modules/seventh.pug

include ./partials/footer.pug
