@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
      src: url('dist/fonts/#{$file-path}.woff2');
      src: url('dist/fonts/#{$file-path}.woff') format('woff'),
           url('dist/fonts/#{$file-path}.ttf') format('truetype');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

// supprimer format ttf?
