include ../partials/header.pug

section(class="intro__section")
  div(class="intro__header")
    div(class="intro__headerContent")
      p(class="intro__headerContentText")
  div(class="intro__content")
    p(style='white-space:pre;' class="intro__contentTitle") Leica M10
    //- video(class="intro__contentVideo" src="./video/intro__videoIntro.mp4")
    img(class="intro__contentImage" src="./img/intro__leicaM10.png")
  div(class="intro__footer")
    div(class="intro__fonterContent")

include ../partials/footer.pug
