div(class="fourth__transition")
  img(src="img/transitions/transition__bottomShadow.svg")
  img(src="img/transitions/transition__bottom.svg")
section(class="fourth")
  div(class="fourth__content")
    div(class="fourth__title") Des fonctionnalités exceptionnelles
    p(class="fourth__text") Le Leica M10 allie à la perfection histoire et modernité dans un boitier fait pour tenir toute une vie. Des fonctionnalités innovantes à portée de votre main et cela immédiatement : sélecteur de sensibilité ISO, plage de réglage ISO étendue de 100 à 50.000 ISO, concept ergonomique affiné, nouveau viseur pour voir plus grand, prise de vues en continu rapide, le nouveau processeur Maestro-II accroît encore le niveau de qualité du M10, une meilleure acquisition d'image grâce au nouveau capteur 24 millions de pixels, parfaitement paré pour affronter des légères averses, la poussière, etc.
  div(class="fourth__slider")
    div
      img(class="fourth__image" src="img/fourth__slider/1.png")
    div
      img(class="fourth__image" src="img/fourth__slider/2.png")
    div
      img(class="fourth__image" src="img/fourth__slider/3.png")
    div
      img(class="fourth__image" src="img/fourth__slider/4.png")
    div
      img(class="fourth__image" src="img/fourth__slider/5.png")
    div
      img(class="fourth__image" src="img/fourth__slider/6.png")
    div
      img(class="fourth__image" src="img/fourth__slider/7.png")
    div
      img(class="fourth__image" src="img/fourth__slider/8.png")
    div
      img(class="fourth__image" src="img/fourth__slider/9.png")
    div
      img(class="fourth__image" src="img/fourth__slider/10.png")
    div
      img(class="fourth__image" src="img/fourth__slider/11.png")
    div
      img(class="fourth__image" src="img/fourth__slider/12.png")
    div
      img(class="fourth__image" src="img/fourth__slider/13.png")
    div
      img(class="fourth__image" src="img/fourth__slider/14.png")
    div
      img(class="fourth__image" src="img/fourth__slider/15.png")
    div
      img(class="fourth__image" src="img/fourth__slider/16.png")
    div
      img(class="fourth__image" src="img/fourth__slider/17.png")
    div
      img(class="fourth__image" src="img/fourth__slider/18.png")
    div
      img(class="fourth__image" src="img/fourth__slider/19.png")
    div
      img(class="fourth__image" src="img/fourth__slider/20.png")
    div
      img(class="fourth__image" src="img/fourth__slider/21.png")
    div
      img(class="fourth__image" src="img/fourth__slider/22.png")
    div
      img(class="fourth__image" src="img/fourth__slider/23.png")
    div
      img(class="fourth__image" src="img/fourth__slider/24.png")
    div
      img(class="fourth__image" src="img/fourth__slider/25.png")
    div
      img(class="fourth__image" src="img/fourth__slider/26.png")
    div
      img(class="fourth__image" src="img/fourth__slider/27.png")
    div
      img(class="fourth__image" src="img/fourth__slider/28.png")
    div
      img(class="fourth__image" src="img/fourth__slider/29.png")
    div
      img(class="fourth__image" src="img/fourth__slider/30.png")
    div
      img(class="fourth__image" src="img/fourth__slider/31.png")
    div
      img(class="fourth__image" src="img/fourth__slider/32.png")
    div
      img(class="fourth__image" src="img/fourth__slider/33.png")
    div
      img(class="fourth__image" src="img/fourth__slider/34.png")
    div
      img(class="fourth__image" src="img/fourth__slider/35.png")
    div
      img(class="fourth__image" src="img/fourth__slider/36.png")
    div
      img(class="fourth__image" src="img/fourth__slider/37.png")
    div
      img(class="fourth__image" src="img/fourth__slider/38.png")
    div
      img(class="fourth__image" src="img/fourth__slider/39.png")
    div
      img(class="fourth__image" src="img/fourth__slider/40.png")
    div
      img(class="fourth__image" src="img/fourth__slider/41.png")
    div
      img(class="fourth__image" src="img/fourth__slider/42.png")
    div
      img(class="fourth__image" src="img/fourth__slider/43.png")
    div
      img(class="fourth__image" src="img/fourth__slider/44.png")
