section(class="intro")
  div(class="intro__header")
    p(class="intro__headerTitle") Leica M10
  div(class="intro__content")
    p(class="intro__contentTitle") Leica M10
    img(class="intro__contentPoster" src="img/intro__leicaM10.png")
    img(class="intro__contentImage" src="img/intro__shadow.png")
  div(class="intro__footer")
    div(class="intro__footerCenter")
      div(class="intro__footerCenterTextBlack")
        div Black
        div Black
        div Black
      div(class="intro__footerCenterTextWhite")
        div White
        div White
        div White
    div(class="intro__footerRight")
      div(class="intro__footerRightText")
        div Black
        div or
        div White
      //-À revoir, provisoire
