section(class="sixth")
  div(class="sixth__slider")
    div
      img(class="sixth__image" src="img/sixth__slider/sixth__image01.jpg")
    div
      img(class="sixth__image" src="img/sixth__slider/sixth__image02.jpg")
    div
      img(class="sixth__image" src="img/sixth__slider/sixth__image03.jpg")
    div
      img(class="sixth__image" src="img/sixth__slider/sixth__image04.jpg")
    div
      img(class="sixth__image" src="img/sixth__slider/sixth__image05.jpg")
  div(class="sixth__controls")
    ul(class="sixth__thumbnails")
      li
        img(src="img/sixth__slider/sixth__image01.jpg" alt="" class="sixth__thumbnail")
      li
        img(src="img/sixth__slider/sixth__image02.jpg" alt="" class="sixth__thumbnail")
      li
        img(src="img/sixth__slider/sixth__image03.jpg" alt="" class="sixth__thumbnail")
      li
        img(src="img/sixth__slider/sixth__image04.jpg" alt="" class="sixth__thumbnail")
      li
        img(src="img/sixth__slider/sixth__image05.jpg" alt="" class="sixth__thumbnail")
  div(class="sixth__leicaPreview" id="sixth__waypoints")
    img(src="img/fifth__leicaM10.png" class="sixth__leica")
    img(src="img/sixth__slider/sixth__image01.jpg" class="sixth__leicaCurrentSlide")
