div(class="footer__transition")
  img(src="img/transitions/transition__footerShadow.svg")
  img(src="img/transitions/transition__footer.svg")
section(class="footer")
  img(class="footer__leicaLogo" src="img/header__leica.svg")
  div(class="footer__social")
    a(class="footer__socialIg" href="https://www.instagram.com/leica_camera/?hl=fr")
      img(src="img/footer__socialIg.svg")
    a(class="footer__socialFb" href="https://www.facebook.com/LeicaCamera/")
      img(src="img/footer__socialFb.svg")
    a(class="footer__socialTw" href="https://twitter.com/leica_camera")
      img(src="img/footer__socialTw.svg")
div(class="footer__footerTeam") 2017 © Equipe 19

script(src='https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.3.7/min/tiny-slider.js', type='text/javascript')
script(src='js/script.js', type='text/javascript')
