doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Leica M10
    meta(name="description", content="")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.3.6/tiny-slider.css", type="text/css")
    link(href="css/styles.css", rel="stylesheet", type="text/css")
  body
    section(class="header")
      img(class="header__leicaLogo" src="img/header__leica.svg")
      a(class="header__shopNow" href="https://fr.leica-camera.com/Stores-Revendeurs/Trouver-un-revendeur-Leica") Shop now
